body{
    width: 100%;
    height: max-content;
    flex-direction: column;
}
.call{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: max-content;
    font-size: 20px;
}